<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h6>About</h6>
          <p class="text-justify">Portfolio <i>website  </i> is a great way to demonstrate the competencies 
            you would list on a resume or talk about in an interview — they allow you to show and not just tell. 
            During a job search, the portfolio showcases your work to potential employers. 
            It presents evidence of your relevant skills and abilities.</p>
        </div>
  
        <div class="col-xs-6 col-md-3">
          <!-- <h6>Technology</h6> -->
          <ul class="footer-links">
            <!-- <li>MEAN STACK</li> -->
        
          </ul>
        </div>
  
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a routerLink="about">About Me</a></li>
            <li><a routerLink="resume">Resume</a></li>
            <li><a routerLink="testimonial">Testimonials</a></li>
            <li><a routerLink="contact">Contact Me</a></li>

            
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
            <a href="https://www.linkedin.com/in/ruchika-j-612a48192/" target="default">Ruchika</a>.
          </p>
        </div>
  
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://github.com/ruchika216"><i class="fab fa-github-square" target="_blank"></i></a></li>
            <li><a class="twitter" href="#"><i class="fab fa-twitter" target="_blank"></i></a></li>
            <li><a class="dribbble" href="https://www.instagram.com/ruchika_j4/"><i class="fab fa-instagram" target="_blank"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/ruchika-j-612a48192/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>