

.container {
    padding-top: 100px;
    /* padding-bottom: 45px; */
    
  }
  
  .card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
  }
  .dev{
    letter-spacing: 1px;
    line-height: 1.5;
    font-family: "Poppins";
    font-size: 18px;
    text-align: justify;
  }

  .featured {
    height: 70vh;
    background-image: url(../../assets/profile3.jpeg);
    background-size: cover;
    background-position: 50%;
    min-height: 200px;
    /* opacity: 0.8; */
  }
  
  .sub-featured {
    height: 70vh;
    margin-bottom: 5vh;
    min-height: 300px;
    /* max-height: 300px; */
  }
  
  .sub-featured h2 {
    font-size: 1.2em;
  }
  
  .non-featured {
    height: 36vh;
    min-height: 167px;
  }
  
  .card {
    background-color: #cfecee;
    padding: 5px 19px ;
    position: relative;
  }
   .about-high{
       margin-top: -28px;
   }
  
  .non-featured h2 {
    font-size: 1.1em;
    position: absolute;
    bottom: 5px;
  }
  
  .accent {
    background-color: #33a2ae;
    background-image: url(https://snap-photos.s3.amazonaws.com/img-thumbs/960w/0UR6B61LVN.jpg);
    background-position: 50%;
    opacity: 0.9;
  }
  
  @media screen and (max-width: 992px) {
    .col-md-6 {
      margin-bottom: 5vh;
    }
  
    .sub-featured {
      margin-bottom: 0vh;
    }
  }
  