<div class="container">
    <h1 class="text-center font-bold">ABOUT ME</h1>
    <h3 class="text-center font-italic" style="font-size: small;">Why Choose Me?</h3>
    <h4 class="text-center font-bold">➖➖👨🏻‍🎓➖➖</h4> 
    <div class="row">
      <div class="col-sm-12 col-md-4 featured-container">
        <div class="card featured">
        </div>
      </div>
      <div class="col-sm-12 col-md-8">
        <div class="card sub-featured">
          <h2>Full Stack Developer</h2>
          <p class="ml-5 mr-5 pb-5 pt-3 dev">Full Stack web developer with background knowledge of MERN Stacks as well as MEAN Stack.
            Secure a responsible career opportunity to fully utilize my training and skills, 
            while making a significant contribution to the success of the company. 
            <br>The primary focus is to develop Frontend and maintenance of the central database, 
            ensuring high responsiveness and performance to requests from the frontend.
        </p>
        <h2 class="about-high">Some Highlights</h2>
        <ul class="ml-5 mr-5 pb-5 pt-0 dev">
            <li>MERN Stack Developer</li>
            <li>React Developer</li>
            <li>Managing Database</li>
            <li>FrontEnd Developer</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

