<section style="margin-top: 20px;">
    <div class="container">
      <div class="row">
        <h1 class="text-center"><span>Testimonials</span></h1>
    <h3 class="text-center font-italic" style="font-size: small;">What cliet say about me?</h3>
    <p class="text-center">➖➖👨‍🎓 ➖➖</p>

        
  <!-- Card -->
        <div class="col-md-3">
          <div class="card profile-card-2">
            <div class="card-img-block">
              <img class="img-fluid" src="../../assets/test1.jpg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="../../assets/test4.jpg" alt="profile-image" class="profile" />
              <h5 class="card-title">Harsimran Singh</h5>
              <p class="card-text">Dedicated and hard working person, and an excellent developer. </p>
              <div class="icon-block">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"> <i class="fab fa-twitter"></i></a>
                <a href="#"> <i class="fab fa-google-plus-g"></i></a>
              </div>
            </div>
          </div>
          <!-- <p class="mt-3 w-100 float-left text-center"><strong>Social Profile Card</strong></p> -->
        </div>

        <div class="col-md-3">
            <div class="card profile-card-2">
              <div class="card-img-block">
                <img class="img-fluid" src="../../assets/test0.jpg" alt="Card image cap">
              </div>
              <div class="card-body pt-5">
                <img src="../../assets/test8.png" alt="profile-image" class="profile" />
                <h5 class="card-title">Harman Singh</h5>
                <p class="card-text">Dedicated and hard working person, and an excellent developer.</p>
                <div class="icon-block">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"> <i class="fab fa-twitter"></i></a>
                  <a href="#"> <i class="fab fa-google-plus-g"></i></a>
                </div>
              </div>
            </div>
            <!-- <p class="mt-3 w-100 float-left text-center"><strong>Social Profile Card</strong></p> -->
          </div>

          <div class="col-md-3">
            <div class="card profile-card-2">
              <div class="card-img-block">
                <img class="img-fluid" src="../../assets/test2.jpg" alt="Card image cap">
              </div>
              <div class="card-body pt-5">
                <img src="../../assets/test6.jpg" alt="profile-image" class="profile" />
                <h5 class="card-title">Mandeep Kaur Gill</h5>
                <p class="card-text">Amazing Coworker with a great experience in content and websites.</p>
                <div class="icon-block">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"> <i class="fab fa-twitter"></i></a>
                  <a href="#"> <i class="fab fa-google-plus-g"></i></a>
                </div>
              </div>
            </div>
            <!-- <p class="mt-3 w-100 float-left text-center"><strong>Social Profile Card</strong></p> -->
          </div>


          <div class="col-md-3">
            <div class="card profile-card-2">
              <div class="card-img-block">
                <img class="img-fluid" src="../../assets/test9.jpg" alt="Card image cap">
              </div>
              <div class="card-body pt-5">
                <img src="../../assets/test7.jpg" alt="profile-image" class="profile" />
                <h5 class="card-title">Mahir Jain</h5>
                <p class="card-text">Dedicated and hard working person, and an excellent developer.</p>
                <div class="icon-block">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"> <i class="fab fa-twitter"></i></a>
                  <a href="#"> <i class="fab fa-google-plus-g"></i></a>
                </div>
              </div>
            </div>
            <!-- <p class="mt-3 w-100 float-left text-center"><strong>Social Profile Card</strong></p> -->
          </div>
        
  
       
  
      </div>
    </div>
  </section>