

<div class="resume-education">
<h5 class="card-title">🔸Graduation in Computer Science Engineering <a class="btn btn-outline-light btn-sm">2019-2022</a></h5>
<p class="card-text ml-5">Sant Longowal Institute of Engineering and Technology</p>
<p class="card-text ml-5" style="line-height: 0.6;">CGPA: 8.4</p>


<h5 class="card-title">🔸Diploma in Electronics and Communication Engineering <a class="btn btn-outline-light btn-sm">2014-2017</a></h5>
<p class="card-text ml-5" style="line-height: 0.6;">MeeraBai Institute of Engineering and Technology</p>
<p class="card-text ml-5" style="line-height: 0.6;">CGPA: 7.39</p>

<h5 class="card-title">🔸Matriculation  <a class="btn btn-outline-light btn-sm">2013-2014</a></h5>
<p class="card-text ml-5" style="line-height: 0.6;">Panchsheel Public School</p>
<p class="card-text ml-5" style="line-height: 0.6;">CGPA: 7</p>

</div>






<router-outlet></router-outlet>
