<div class="resume-experience">
    <!-- <h5 class="card-title">🔸Cognizant <a class="btn btn-outline-light btn-sm">Mar'22-July'22</a></h5>
    <p class="card-text ml-5"><strong>Position: </strong> Developer Intern</p> -->

    <h5 class="card-title">🔸AppyHigh Technology <a class="btn btn-outline-light btn-sm">Jan'22-May'22</a></h5>
    <p class="card-text ml-5"><strong>Position: </strong> React Native Intern</p>
    
    <h5 class="card-title">🔸Unstop (formerly Dare2Compete)<a class="btn btn-outline-light btn-sm">Oct'21-Mar'22</a></h5>
    <p class="card-text ml-5" ><strong>Position: </strong>Freelance Technical Content Writer</p>
    
    <h5 class="card-title">🔸Sony India Pvt. Ltd <a class="btn btn-outline-light btn-sm">Aug'17-May'19</a></h5>
    <p class="card-text ml-5"><strong>Position: </strong>Technical Support Supervisor</p>
    
    </div>

