
<nav class="navbar fixed-top navbar-light " >
    <a routerLink="">
         <label class="logo">PORTFOLIO</label>
    </a>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fa fa-bars"></i>
    </label>
    <ul class="nav-menu">
      <li><a routerLink="" class="active">Home</a></li>
      <li><a routerLink="about">AboutMe</a></li>
      <li><a routerLink="resume">Resume</a></li>
      <li><a routerLink="testimonial">Testimonial</a></li>
      <li><a routerLink="contact">ContactMe</a></li>
    </ul>
    </nav>