/* You can add global styles to this file, and also import other style files */
* {
  font-family: Verdana, Arial, Tahoma, Serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
}
.main {
  width: 80%;
  display: flex;
  background-color: #f2f2f2;
  height: 50vh;
  margin: -20px 71px 36px 150px;
}
.main .column-1 {
  width: 20%;
  float: left;
  background-color: rgb(252, 249, 249);
}
.main .column-2 {
  width: 80%;
  float: left;
  color: white;
  background-color: black;
  border-radius: 15px;
}
.main .column-2 div {
  padding: 15px;
}
.active {
  border-radius: 20px;
  font-weight: bold;
  outline: 1px solid #ddd;
  cursor: pointer;
  background-color: #0d0d0e;
  color: #fff;
}
.vertical-menu {
  display: block !important;
  width: 100%;
  text-align: center;
  list-style-type: none;
  padding: 0px;
}
li {
  color: #212121;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  padding: 12px;
  cursor: pointer;
  font-size: 18px;
}
li:after {
  display: none;
}
a {
  padding: 8px;
}
@media (max-width: 550px) {
  .column-1 {
    width: 40% !important;
  }
  .column-2 {
    width: 60% !important;
  }
}
