
<div class="resume-education">
    <h5 class="card-title">🔸Personal Portfolio  <a class="btn btn-outline-light btn-sm">2021-2021</a></h5>
    <p class="card-text ml-5" style="line-height: 0.8;">Technology Used: Angular & Bootstrap</p>
    <!-- <p class="card-text ml-5" style="line-height: 0.8;">A personal portfolio to show all my details and projects</p> -->

    <h5 class="card-title">🔸Prabh's Smart Nurses Hub <a class="btn btn-outline-light btn-sm">2022</a></h5>
    <p class="card-text ml-5" style="line-height: 0.8;">Technology Used: Wordpress</p>
    <!-- <p class="card-text ml-5" style="line-height: 0.8;">A personal portfolio to show all my details and projects</p> -->

    
    <h5 class="card-title">🔸TechFest SLIET Website <a class="btn btn-outline-light btn-sm">2020-2021</a></h5>
    <a class="card-text ml-5" style="line-height: 0.8;">Technology Used: MERN Stack</a>
    <!-- <a class="card-text ml-5" style="line-height: 0.8;">College techfest website for participating in competitions and attending webinars</a> -->
    
    <h5 class="card-title">🔸SLIET Alumni Website <a class="btn btn-outline-light btn-sm">2021-2022</a></h5>
    <a class="card-text ml-5" style="line-height: 0.8;">Technology Used: MEAN Stack</a>
    <!-- <p class="card-text ml-5" style="line-height: 0.8;">College website for joining all the alumni's of past years.</p> -->
    
    </div>
