
   <main>
    <!-- ======================== -->
    <!-- Just Copy The Code Below -->
    <section class="main-card">
      <div class="card-content">
        <div class="content-left">
          <img class="full-img" src="../../assets/profile.jpg" alt="Profile Image">
        </div>
        <div class="content-right">
          <div class="tag">
            
                <div class="icons"> 
                    <a href="https://www.linkedin.com/in/ruchika-j-612a48192/" target="_blank">
                        <i class="fab fa-linkedin" ></i>  
                    </a>
                    <a href="https://www.instagram.com/ruchika_j4/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://github.com/ruchika216" target="_blank">
                        <i class="fab fa-github-square"></i> 
                    </a>
                </div>
          </div>
          <h2>Hello, I'M Ruchika</h2>
          <span class="type-animation">
            <ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter>
          </span>
          <div class="home-btn">
            <a href="#">
                <button class="btn mr-3">Hire Me</button> 
            </a>
            <a href='../../assets/ruchika.pdf' download="Resume">
                <button class='btn highlighted-btn'>Get Resume</button>
            </a>
        </div>
          <div class="mini-imgs" style="width: 500px;">
            <a class="container" href="https://smartnurseshub.com/" target="_blank">
                <img src="https://images.unsplash.com/photo-1593346279196-b971a8e46966?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1974&q=80" alt="Smart Nurses Hub" onclick="changeImg(1)" style="width:100%;">
                <div class="centered">Project 1</div>
            </a>    
            <a class="container" href="https://beaware.world/" target="_blank">
                <img src="https://images.unsplash.com/photo-1594884592479-1f5bad0b696d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2002&q=80" alt="Beaware.World" style="width:100%;" onclick="changeImg(2)">
                <div class="centered">Project 2</div>
            </a>
            <a class="container" href="https://techfestsliet.com/" target="_blank">
                <img src="https://images.unsplash.com/photo-1592431454781-ec4870757ce9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="TechFest" style="width:100%;" onclick="changeImg(3)">
                <div class="centered">Project 3</div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Just Copy The Code Above -->
    <!-- ======================== -->
  </main>
  
  <app-about></app-about>
  <app-resume></app-resume>
  <app-testimonial></app-testimonial>
  <app-contact></app-contact>
  <app-footer></app-footer>
